<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="config.properties"/>
    <bean id="refrigerator" class="com.example.firstproject.Refrigerator">
        <constructor-arg value="${maxTemperature}"/>
        <constructor-arg value="${minTemperature}"/>
        <property name="height" value="${height}"/>
        <property name="depth" value="${depth}"/>
        <property name="width" value="${width}"/>
        <property name="compressorType" value="${compressorType}"/>
    </bean>

    <bean id="refrigeratorController" class="com.example.firstproject.User">
        <constructor-arg ref="refrigerator"/>
    </bean>
</beans>
